.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogsItems.dialog {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.dialog {
    text-decoration: none;
}

.active {
    color: blue;
}

.messeges {
    padding: 10px;
}

.messege {

}
